/* application.css */
/* allgemein ist es eine möglichkeit das Design von der Spiellogik zu trennen */

/* Hintergrundbild für die gesamte Szene */

/* COLORS */
/*
pink        #b16b96
blue        #3d8bb6
senf        #efd07a
black       #332e37
bluegreen   #2a817e
lilac       #8f89c0
green       #5cd686
red         #e85c6c
yellow      #e2aa4e
*/

/* Schriftart festlegen und aufrufbar machen über "Galindo" */
@font-face {
    font-family: "Galindo";
    src: url("/fonts/Galindo-Regular.ttf"); /* Relativer Pfad zur Schriftartdatei */
}

/* general class that applies to the whole fxml file as soon as it has CSS integrated */
.root {
    -fx-background-image: url("/images/menue_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-family: "Galindo";
    -fx-alignment: center;
}

/* variante zu der class darüber, mit dem anderen Hintergrund - da wir zwei haben */
.rootQuiz {
    -fx-background-image: url("/images/quiz_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-alignment: center;
}


/* Styling für Label */
.label-welcome {
    -fx-font-size: 35px;
    -fx-background-color: #3d8bb6;
    -fx-padding: 20px;
    -fx-background-radius: 120;
    -fx-border-width: 7;
    -fx-border-radius: 120;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-padding: 0 150 0 150; /* oben rechts unten links */
}

.label-winorlose {
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.label-statistik {
    -fx-text-fill: #3d8bb6;
    -fx-font-size: 16px;
}

.label-question {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-color: #2a817e;
    -fx-padding: 10 30 10 30;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.label-feedback {
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-padding: 20;
    -fx-font-size: 16px;
}

.text-story {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-fill: white;
}

.label-greetingname {
    -fx-text-fill: #e2aa4e;
    -fx-font-size: 24px;
}


.whiteFont {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.evaluationLabel {
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-padding: 10;
}

.highscoreLabel {
    -fx-font-size: 40px;
    -fx-text-fill: #e2aa4e;
}


/* Styling für Buttons */

.button {
    -fx-padding: 10 20;
    -fx-font-size: 18px;
    -fx-background-color: #e2aa4e;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-border-width: 4;
    -fx-border-radius: 30;
    -fx-border-color: #e2aa4e;
}

.button:hover {
    -fx-background-color: #332e37;
}

.buttonExit {
    -fx-padding: 5 20;
    -fx-font-size: 15px;
    -fx-background-color: #e85c6c;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-border-width: 4;
    -fx-border-radius: 30;
    -fx-border-color: #e85c6c;
}

.buttonExit:hover {
    -fx-background-color: #332e37;
    -fx-text-fill: white;
}

.buttonAnswer {
    -fx-padding: 10 20;
    -fx-font-size: 16px;
    -fx-background-color: #332e37;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-border-width: 3;
    -fx-border-radius: 30;
    -fx-border-color: #2a817e;
}

.buttonAnswer:hover {
    -fx-border-color: #efd07a;
}

/* Main Menu Buttons */

.nameInputButton {
    -fx-padding: 5 10;
    -fx-font-size: 12px;
    -fx-background-color: #8f89c0;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-border-width: 4;
    -fx-border-radius: 30;
    -fx-border-color: #8f89c0;
}

.nameInputButton:hover {
    -fx-background-color: #332e37;
    -fx-text-fill: white;
}

/* text vom radio button */
.radioButton {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

/* macht den border schwarz */
.radioButton .radio {
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-border-color: #332e37;
    -fx-background-color: white;
    -fx-padding: 3px;
}

/* macht den dot größer */
.radioButton .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

.subnavHigh {
    -fx-background-image: url("/images/highscore_icon.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-padding: 5 10;
    -fx-font-size: 12px;
    -fx-background-color: #262626;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-border-width: 4;
    -fx-border-radius: 30;
    -fx-border-color: #262626;
}

.subnavHigh:hover {
    -fx-background-color: #262626;
    -fx-border-color: #c6c6c6;
}

.subnavMice {
    -fx-background-image: url("/images/micemode_icon.png");
    -fx-background-size: 45 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-padding: 5 10;
    -fx-font-size: 12px;
    -fx-background-color: #262626;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-border-width: 4;
    -fx-border-radius: 30;
    -fx-border-color: #262626;
}

.subnavMice:hover {
    -fx-background-color: #262626;
    -fx-border-color: #c6c6c6;
}

/* Styling für Main Menu*/
.mainMenuHBoxActionButtons {
    -fx-translate-x: -150;
}

.hbox-radio {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 10;
}

/* Styling für Nameneingabe */
.required-field {
    -fx-border-color: #8f89c0; /* RAND */
    -fx-background-color: white;
    -fx-opacity: 0.9;
    -fx-background-radius: 30;
    -fx-border-width: 4;
    -fx-border-radius: 30;
}

.error-message {
    -fx-text-fill: #e85c6c;
}

/* Lernmode Styling */
.LernModeAnswerTextField {
    -fx-border-color: #8f89c0;
    -fx-background-color: white;
    -fx-opacity: 0.9;
    -fx-background-radius: 30;
    -fx-border-width: 4;
    -fx-border-radius: 30;
    -fx-font-size: 16px;
}


/* Styling für Quiz */
.parameterBox { /* die schwarze box hinter leben, sterne, usw. */
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-spacing: 70;
    -fx-padding: 20 50 20 50;
}

/* Styling für WinLose */

.box-statistik {
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-padding: 20 50 20 50;
}


/* Styling für ListView Lernmode */

.evaluationList {
    -fx-font-size: 16px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #b16b96;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: rgba(0,0,0,0.1);;
}


/* Styling Highscore */

.columnMain {
    -fx-background-color: rgba(0,0,0,0.1);
}

/* Standardwert */
.table-row-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-row-cell:hover {
    -fx-background-color: rgba(0,0,0,0.1);
}

/* ausgewählte Zeile */
.table-row-cell:selected {
    -fx-background-color: #b16b96;
    -fx-text-fill: white;
}

/* Zeilen mit Fokus */
.table-row-cell:focused {
    -fx-border-color: #e2aa4e;
    -fx-border-width: 2;
}