/* application.css */
/* allgemein ist es eine möglichkeit das Design von der Spiellogik zu trennen */

@font-face {
    font-family: "Galindo";
    src: url("/fonts/Galindo-Regular.ttf"); /* Relativer Pfad zur Schriftartdatei */
}

.root {
    -fx-font-family: "Galindo"; /* Verwende die Schriftart */
    -fx-font-size: 16px; /* Optional: Schriftgröße */
}

/* BOX */
.vbox {
    -fx-background-color: #b16b96;
    -fx-padding: 20;
    -fx-border-width: 15;
    -fx-border-color: #e2aa4e;
}

.label {
    -fx-text-fill: #332e37;
}


/* BUTTON */
.button {
    -fx-padding: 5 10;
    -fx-font-size: 12px;
    -fx-background-color: #e2aa4e;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-border-width: 4;
    -fx-border-radius: 30;
    -fx-border-color: #e2aa4e;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: #e2aa4e;
}