/* application.css */
/* allgemein ist es eine möglichkeit das Design von der Spiellogik zu trennen */

@font-face {
    font-family: "Galindo";
    src: url("/fonts/Galindo-Regular.ttf"); /* Relativer Pfad zur Schriftartdatei */
}

.root {
    -fx-font-family: "Galindo"; /* Verwende die Schriftart */
    -fx-font-size: 16px; /* Optional: Schriftgröße */
}

.vbox {
    -fx-background-color: rgb(51,46,55);
    -fx-background-radius: 10;
    -fx-padding: 20;
}

.label {
    -fx-text-fill: #3d8bb6;
}

.button {
    -fx-padding: 5 10;
    -fx-font-size: 12px;
    -fx-background-color: rgb(8, 5, 144);
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: rgb(8, 5, 144);
}